<ul id="items">
	<li>
		Breads
		<table id="items-0">
			<tr>
				<th></th>
				<td><input id="items-0-item_id
					" name="items-0-item_id" type="hidden" value="1"><input checked id="items-0-want" name="items-0-want" type="checkbox" value="y"></td>

			<tr>
		</table>
	</li>
	<li>
		Filling
		<table id="items-1">
			<tr>
				<th></th>
				<td><input id="items-1-item_id" name="items-1-item_id" type="hidden" value="2"><input id="items-1-want" name="items-1-want" type="checkbox" value="y"></td>
			</tr>
		</table>
	</li>
</ul>
